@media (max-width: 992px){
    .custom_col {
        flex: 0 0 55%;
        max-width: 42%;
        min-width: 405px;
    }
}

.custom_col {
    flex: 0 0 50%;
    max-width: 37%;
}

.navbarDropdown {
  -webkit-text-stroke: 0.2px black
}

#dash {
    font-size: 30px; 
    color: rgb(0, 219, 0); 
    -webkit-text-stroke: 0.2px black;
    width: 75%;
}

.progress-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  background-color: rgb(0, 219, 0);
  transition: width .6s ease;
}


/* .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
  color: #fff;
  background-color: rgb(0, 219, 0);
  border-color: rgb(0, 219, 0);
} */

.continue_correct {
  position: fixed;
  width: 100%;
  bottom: 0;
  display: flex;
  background-color: rgb(0, 219, 0);
  padding: 2%;
}

.correct {
  margin: auto;
  align-self: center;
  color: white;
  font-size: 25px;
}

.report_button:active{
  box-shadow: 0;
  background: rgb(207, 207, 207);
}


.report_button {
    margin-top: 15px;
    background: white;
    border: transparent;
    color: red;
    font-size: 25px;
    font-weight: 500;
    border-radius: 15px;
    padding: 5px;
    box-shadow: 1px 1px 5px black;
}


.continue_button_incorrect:active{
  box-shadow: 0;
  background: rgb(228, 11, 11);
}


.continue_button_incorrect {
  margin-top: 15px;
  background: red;
  border: transparent;
  color: white;
  font-size: 25px;
  font-weight: 500;
  border-radius: 15px;
  padding: 5px;
  box-shadow: 1px 1px 5px black;
}

.continue_button_correct:active{
  box-shadow: 0;
  background: rgb(5, 197, 5);
}


.continue_button_correct {
  margin-top: 15px;
  background: rgb(0, 219, 0);
  border: transparent;
  color: white;
  font-size: 25px;
  font-weight: 500;
  border-radius: 15px;
  padding: 5px;
  box-shadow: 1px 1px 5px black;
}

.continue_incorrect {
  position: fixed;
  width: 100%;
  bottom: 0;
  display: flex;
  background: red;
  padding: 2%;
}

.mc_button:active{
  color: #fff;
  background-color: rgb(9, 197, 9);
  border-color: rgb(9, 197, 9);
}

.x_button{
  font-size: 25px;
  padding-left: 15px;
  padding-top: 5px;
  font-weight: 700;
  color:red;
  background: transparent;
  border: transparent;
}

.mc_button:hover {
  color: #fff;
  background-color: rgb(0, 219, 0);
  border-color: rgb(0, 219, 0);
}

.mc_button:focus {
  color: #fff;
  background-color: rgb(9, 197, 9);
  border-color: rgb(9, 197, 9);
}

.mc_button_submitted {
  margin-top: 15px;
  background: rgb(9, 197, 9);
  border: transparent;
  color: white;
  font-size: 25px;
  font-weight: 500;
  border-radius: 15px;
  padding: 5px;
}

.mc_button {
  margin-top: 15px;
  background: transparent;
  border: transparent;
  color: black;
  font-size: 25px;
  font-weight: 500;
  border-radius: 15px;
  padding: 5px;
}

.no_hover {
  margin-top: 15px;
  background: transparent;
  border: transparent;
  color: black;
  font-size: 25px;
  font-weight: 500;
  border-radius: 15px;
  padding: 5px;
}

.mc_prompt {
  color: black;
  font-size: 40px;
  text-align: center;
  padding-top: 35px;
}

.mc_choices {
  margin-left: 30%;
  width: fit-content;
  margin-top: 4%;
}


#greeting {
        font-size: 30px;
        color: rgb(0, 219, 0);
        -webkit-text-stroke: 0.2px black;
        width: 25%;
        text-align: right;
}

.dashboard_sort {
    margin-right: 5%;
    color: black;
    background: white;
    width: 16%;
    padding: 3px;
    border-radius: 50px;
    height: 33px;
}

.top_block {
    color: rgb(0 255 0);
    border-bottom: solid;
    border-width: thin;
    margin-top: -55px;
    margin-bottom: 20px;
}

.white_text {
    color: white;
    margin-left: 3%;
    font-size: 25px;
    margin-bottom: 10px;
}

.block {
    background: black;
    margin-top: 2%;
    border-radius: 30px;
    padding-top: 5%;
    padding-bottom: 2%;
    box-shadow: 1px 1px 3px rgb(18 118 18);
}

.favorite_button {
    background: transparent;
    border-color: transparent;
    font-size: x-large;
    margin-top: -10px;
    margin-left: -5px;
    color: lightgrey;
    stroke: black;
    stroke-width: 8px;
  }

.favorite_button_favorited {
  background: transparent;
  border-color: transparent;
  font-size: x-large;
  margin-top: -10px;
  margin-left: -5px;
  color: rgb(230, 207, 4);
  stroke: black;
  stroke-width: 8px;
}

.card_top:hover .play_button {
  display: inline;
}

.card_image:hover {
  opacity: 0.35;
}

.play_button:hover .card_top{
  opacity: 0.35;
}


.play_button {
  position: absolute;
  top: 43px;
  left: 107px;
  font-size: 33px;
  color: rgb(2, 0, 0);
  display: none;
  opacity: 1 im !important;
}

.card_top {
  width:14.8rem;
  height: 200px;
  margin-left: 3%;
  box-shadow: 3px 3px 3px #706767;
}

.card_image {
  height: 120px;
  filter: brightness(.95);
  cursor: pointer;
}

.card_body {
  padding: 0.25rem;
}

.card_info {
  text-align: center; 
  margin-bottom: 0;
}