@media (max-width: 992px){
    .custom_col {
        flex: 0 0 55%;
        max-width: 42%;
        min-width: 405px;
    }
}

.custom_col {
    flex: 0 0 50%;
    max-width: 37%;
}

.navbarDropdown {
  -webkit-text-stroke: 0.2px black
}

#dash {
    font-size: 30px; 
    color: rgb(0, 219, 0); 
    -webkit-text-stroke: 0.2px black;
    width: 75%;
}

.progress-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  background-color: rgb(0, 219, 0);
  transition: width .6s ease;
}

#greeting {
        font-size: 30px;
        color: rgb(0, 219, 0);
        -webkit-text-stroke: 0.2px black;
        width: 25%;
        text-align: right;
}

.dashboard_sort {
    margin-right: 5%;
    color: black;
    background: white;
    width: 16%;
    padding: 3px;
    border-radius: 50px;
    height: 33px;
}

.top_block {
    color: rgb(0 255 0);
    border-bottom: solid;
    border-width: thin;
    margin-top: -55px;
    margin-bottom: 20px;
}

.white_text {
    color: white;
    margin-left: 3%;
    font-size: 25px;
}

.block {
    background: black;
    margin-top: 2%;
    border-radius: 30px;
    padding-top: 5%;
    padding-bottom: 2%;
}

.favorite_button {
    background: transparent;
    border-color: transparent;
    font-size: x-large;
    margin-top: -10px;
    margin-left: -5px;
    color: lightgrey;
  }

.favorite_button_favorited {
  background: transparent;
  border-color: transparent;
  font-size: x-large;
  margin-top: -10px;
  margin-left: -5px;
  color: rgb(230, 207, 4);
}

.card_top {
  width:14.8rem;
  height: 200px;
  margin-left: 3%;
}

.card_image {
  height: 120px;
  filter: brightness(.95);
}

.card_body {
  padding: 0.25rem;
}

.card_info {
  text-align: center; 
  margin-bottom: 0;
}